%button-default {
  cursor: pointer;
  width: 160px;
  height: 60px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
  white-space: nowrap;
}

.main {
  font-family: 'Montserrat';

  .button {
    @extend %button-default;
    &:active {
        box-shadow: 0 0 #666;
    }
  }

  .button-back {
    background-color: white;
    box-shadow: none !important;
    color: #666ee8;
    font-weight: normal;
  }

  .right-panel-button {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 225px;
    height: 58px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px #d4d4d4;
    outline: none;
    &:active {
      box-shadow: inset 1px 1px 8px #666;
    }
  }

  .accounting-program {
    img.UniConta {
      width: 115px;
      height: 15px !important;
      padding-top: 35px;
    }

    div.UniConta {
      margin-bottom: 5px;
    }
  }

  .cursor-pointer-img {
    width: "100%";
    height: "100%";
    display: "flex";
    justify-content: "center";

    img {
      cursor: pointer;
    }
  }

  .search-container {
    margin-top: 15px;
    display: flex;
    height: 58px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.39);
    background-color: #ffffff;
    border: solid 1px rgba(102, 110, 232, 0.25);
    align-items: center;
    position: relative;
    padding-right: 160px;


    .loader-container {
      max-height: 228px;
    }

    .button {
      position: absolute;
      right: 0;
    }

    .icon-home {
      width: 19px;
      margin-left: 15px;
    }

    .search-value {
      width: 80%;
      white-space: nowrap;
      text-overflow: ellipsis;
      border: none;
      height: 24px;
      font-size: 16px;
      color: #464855;
      outline: none;
      font-family: Montserrat;
      font-weight: 600; 
    }

    input.search-value {
      -webkit-text-fill-color: #464855
    }

    .search-container-block {
      width: 100%;
      max-height: 285px;
      top: 61px;
      border-radius: 4px;
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03);
      background-color: #ffffff;
      border: solid 1px #e4e5ec;
      position: absolute;
      display: none;
      z-index: 5;

      .search-container-block-list {
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        max-height: 228px;
      }

      .search-container-block-item {
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #e4e5ec;
        padding: 0 15px;
        cursor: pointer;

        .search-container-block-label-main {
          color: #c0c4d1;
          width: 38%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .search-container-block-label {
          color: #464855;
          width: 38%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
          font-weight: 600;
        }

        .search-container-block-cvr-main {
          color: #c0c4d1;
        }

        .search-container-block-cvr {
          color: #898ea2;
          max-width: 140px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
        }

        .search-container-block-arrow {
          color: #ff6b36;
          font-size: 35px;
        }

      }
    }
    
  }

  .button-container-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .block-arrow {
    font-size: 35px;
  }

  .container-inp {
    display: flex;
    justify-content: space-between;
    
    .input-block {
        width: 100%;
     padding-bottom: 30px;
        div {
            margin-right: 30px;

            .input-value {
                width: 100%;
                border-radius: 4px;
                box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
                background-color: rgba(102, 110, 232, 0.08);
                border: solid 1px rgba(45, 45, 80, 0.3);
                height: 48px;
                font-size: 18px;
                color: #464855;
                outline: none;
                padding: 0px 10px;
            }

            .input-value:focus {
                border: solid 1px #666ee8;
                background-color: #e7e9fd;
            }
        }

        .input-title {
            padding-bottom: 10px;
            color: #a7abbd;
            font-size: 14px;
            font-weight: 500;
        }
    }
  }

  .status {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: auto;
    left: 30px;
    top: 12px;
    border-radius: 100%;
    border: solid 0.5px rgba(102, 110, 232, 0.5);

      .success {
      display: inline-block;
      margin: auto;
      &:after {
          content: '';
          display: block;
          width: 4px;
          height: 10px;
          border: solid #28d094;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
      }
      }
      .progress {
      width: 12px;
      height: 12px;
      border-radius: 120px;
      background-color: #666ee8;
      margin: auto;
      }
  }

  .container-custom-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    color: #6b6f81;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      left: 2px;
    }

    .custom-checkmark {
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03);
      background-color: #ffffff;
      background-color: var(--white);
      border: solid 1px #e7e9f0;
    }

    .custom-checkmark:after {
      content: "";
      position: absolute;
      display: none;
      -webkit-box-sizing: initial ;
      -moz-box-sizing: initial ;
      box-sizing: initial ;
    }

    input:checked ~ .custom-checkmark:after {
      display: block;
    }

    .custom-checkmark:after {
      left: 5px;
      width: 3px;
      height: 10px;
      border: solid #666ee8;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .container-checkbox {
    padding-top: 15px;
    color: #6b6f81;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .error-message {  
    display: none;
   position: absolute;
    padding-top: 5px;
    color: red;
  }
  
  .error {
    border-color: red !important;
  }

  .modal-container{ 
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #d2d2d2c7;
    padding: 0px;
    z-index: 100;
    top: 0;
    left: 0;
  }
    .modal {
      z-index: 900;
      position: fixed;
      max-width: 1000px;
      width: 100%;
      overflow-y: auto;
      max-height: 925px;
      height: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .modal-header {
        background-color: #464855;
        width: 100%;
        min-height: 35px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;

        .modal-header-title {
          font-size: 21px;
          font-weight: 500;
          padding-left: 10px;
        }

        .modal-header-icon {
          width: 32px;
          height: 32px;
          margin-right: 52px;
        }

        .close {
          position: absolute;
          right: 20px;
          top: 13px;
          width: 32px;
          height: 32px;
          border-radius: 15px;
          background-color: white;
          cursor: pointer;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          left: 15px;
          top: 5px;
          content: ' ';
          height: 20px;
          width: 3px;
          background-color: #464855;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
      }

      .modal-body {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: start;
        margin: 30px;
        color:#6d7183;

        .react-tabs {
          width: 100%;

          .tabs-header-container {
            padding-left: 0px;
            padding-top: 0px;
            font-weight: 500;
            display: flex;
            border-bottom: 1px solid #e4e5ec;
            color: #8a8fa3;
            list-style-type: none;
            flex-wrap: wrap;
            justify-content: start;

            li {
              padding: 10px;
              cursor: pointer;
            }

            li.active {
              border-bottom: 3px solid #8a91ff;
              color: #464855;
            }

            li:nth-child(2) {
             margin: 0 55px;
            }

            @media screen and (max-width: 803px) {

              li:nth-child(2) {
                margin: 0px !important;
               }

               .subject-line-email-container {
                width: 100% !important;
               }
            }
          }

          @media screen and (max-width: 803px) {

             .subject-line-email-container {
              width: 100% !important;
             }

             .container-button {
              padding-bottom: 20px;
            }

          }

          @media screen and (max-width: 500px) {

            .subject-line-email-container {
              width: 100% !important;

              .container-inp {
                max-width: none !important; 
                width: 100% !important;

                .input-block {
                  padding-bottom: 30px !important;
                  
                  div {
                    margin-right: 20px;
                  }
                }
              }

              .button {
                width: 100%;
              }
             }
          }

          @media screen and (max-width: 500px) {

            .subject-line-email-container {
              
              justify-content: flex-start !important;
              flex-wrap: wrap;
              .container-inp {
                padding: 10px 0;
              }
             }
          }

          .subject-line-constainer {
            display: flex;
            margin-top: 40px;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;

            .subject-line-block {
              margin-left: 10px;
              border: 1px solid #e4e5ec;
              width: 80%;
              overflow: hidden;
              padding-left: 10px;
              padding-right: 10px;

              input {
                padding-top: 20px;
                padding-bottom: 20px;
                width: 100%;
                padding-left: 30px;
                font-family: 'Montserrat';
                font-weight: 400;
                color: #6d7183;
                font-size: 15px;
                border: none;
                outline: none;
              }
            }
          }

          @media screen and (max-width: 967px) {

            .subject-line-block {
              margin-top: 10px;
              margin-left: 0px !important;
              width: 100% !important;
            }
          }

          .subject-line-container {
            margin-top: 20px;
            padding-left: 5px;
            padding-right: 3px;
            border: 1px solid #e4e5ec;
            word-wrap: break-word;
            height: 300px;
            overflow: hidden;

            textarea {
              padding-top: 10px;
              padding-left: 10px;
            }

            .DraftEditor-root {
              height: 100%;

              .DraftEditor-editorContainer {
                height: 100%;

                .public-DraftEditor-content {
                  height: 100%;
                }
              }
            }
          }

          .subject-line-email-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 70%;
            margin: 15px 0;

            span {
              font-weight: 500;
            }
            .container-inp {
              margin: 0;
              max-width: 200px;

              input {
                height: 55px;
              }
              .input-block {
                padding-bottom: 0px;
              }
          }
          }
        }


      }

      .modal-video {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    
  }

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #6d7183;
    font-size: 15px;
  }

  .switch-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;

    .switch {
      min-width: 50px
    }

    label {
      padding-left: 10px;
      color: #6b6f81;

      img {
        padding-bottom: 5px;
      }
    }
  }

  .modal-body-container-radio {
    .switch-container {
      padding-bottom: 0 !important;

    }
  }

  .align-items-center {
    align-items:center !important;
  }

  .height-auto {
    height: auto !important;
  }

  .text-align-center {
    text-align: center;

  }

  .modal-video-container {
    overflow: visible !important;
    max-width: 800px !important;
    max-height: 500px !important;

    .modal-video {
      padding: 10px;

      iframe {
        width: 100%;
        height: 100%;
        margin: 0 10px;
      }
    }

  }

  .modal-flex {
    width: 100%;
  }



  .modal-table {
    max-height: 680px;
    max-width: 750px;
    align-items: start;

    .modal-body-text {
      font-size: 14px;
      padding-bottom: 20px;
    }
  }


  @media screen and (max-width: 370px) {

    .modal-table {
      max-height: 820px;
    }
  }

  .text-bolt {
    font-weight: 600 !important;
    font-size: 18px !important;
    color: #464855 !important;
    line-height: inherit !important;
    text-align: center;

    .panel-bl-content {
      font-weight: 600 !important;
    font-size: 18px !important;
    }
  }

  .font-bolt {
    font-weight: 700 !important;
    font-size: 48px !important;
    text-align: center;
  }

  .margin-bottom-30 {
    margin-bottom: -30px !important;
    margin-top: 20px;
  }

  .margin-0 {
    margin: 0 !important;
  }

  .show {
    display: block !important;
  }

  .loader-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color:#bbbbbb5e;
  }

  .progress-container {
    width: 100%;
    max-width: 1200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .progress-header {
      font-size: 25px;
      font-weight: 600;
      padding-top: 70px;
    }

    .progress-text {
      font-size: 26px;
      font-weight: 300;
      max-width: 470px;
      text-align: center;
      padding-top: 10px;
      color: #585a66;
    }

    .progress-status-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 100px;

      .progress-status {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        color: #585a66;
        font-size: 20px;
        font-weight: 500;
    
      }
      .progress {
        width: 200px;
      }
    }
  }

  .lds-spinner {
    position: absolute;
   width: 64px;
   height: 64px;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
  }
  .lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #fff;
    background-color: rgb(255, 107, 54);
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .color-grey {
    color: #898ea2;
  }
  
  .ReactTable {
    height: 400px;

    .rt-thead {
      height: 45px;
      font-size: 13px;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      box-shadow: none !important;
      color: #878eee;
      font-weight: 500;
    }

    .pagination-bottom {
      display: none;
    }

    .rt-th {
      display: flex;
      flex: 100 0 auto;
      width: 100px;
      align-items: center;
      text-align: left;
      overflow: hidden;
      outline: none;
    }

    .rt-tbody {
      font-weight: 500;
    }

    .rt-td.text-hiden span {
      overflow: hidden !important;
      white-space: inherit;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    .rt-td {
      display: flex;
      align-items: center;
      font-size: 13px;
      overflow: visible;

      u {
        cursor: pointer;
      }

      div {
          height: auto !important;
          margin-left: 5px;
          margin-right: 10px;

      }
      div.top {
          
        .Select-menu-outer{top: auto !important; bottom: 100% !important}
      }
    }

    .rt-td:nth-child(1) {
      justify-content: center;
    }


    .rt-resizable-header:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

  } 

  .left-panel-block canvas {
    max-width: 555px;
    width: 100%;
    max-height: 270px;
    height: 100%;
  }
  
  .react-table {

    .ReactTable {
      max-height: 260px;

      .rt-thead { 
        color: #c0c4d1;
        font-size: 15px;

        .rt-th {
          border-right: none;
          align-items: flex-end;
          display: flex;
        }
      }

      .rt-tbody{

        .rt-td {
          border-right: none;

           div {
             margin: 0;
           }
        }

        .custom-checkmark {
          left: 10px;
          height: 17px;
          width: 17px;
        }
      }
    }
  }

  .react-table-bottom-header {
    height: 70px;
    background-color: #e4e5ec;
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-top: 10px;
    border-radius: 0 0 5px 5px;
    font-weight: 500;
    color: #545662;

    .custom-checkmark  {
      background-color: white;
    }
  }

  .left-panel-info-container {
    padding-top: 15px;
    display: flex;
    flex-direction: column;

    .left-panel-info-row {
      display: flex;

      .left-panel-info-tr {
        display: flex;
        flex-direction: column;
        width: 50%;
        border: 1px solid #e4e5ec;
        height: 130px;

        .step {
          display: flex;
          padding-left: 15px;
          align-items: center;
          padding-top: 10px;
        }
        .left-panel-info-title {
          font-weight: 500;
          padding-left: 10px;
          color: #484a57;
        }

        .left-panel-info-body {
          padding-left: 50px;
          padding-top: 10px;
          color: #7b7e8e;
          font-size: 14px;
          padding-right: 10px;
        }
      }
    }
  }

  @media screen and (max-width: 720px) {
    .left-panel-info-row {
      flex-wrap: wrap !important;

      .left-panel-info-tr {
        width: auto !important;
        height: 150px !important;
      }
    }
  }
    
}